<header class="site-header">
  <!-- Google Fonts: League Spartan -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <div class="container site-header__inner">
    <a class="brand" href="/">
      <img src="/img/paper.png" alt="PapírPoint logo" class="brand__logo" />
      <span class="brand__name">PapírPOINT</span>
    </a>
    
<button class="menu-btn" type="button" disabled
  aria-expanded="false" aria-controls="main-nav" aria-label="Otevřít menu">
  <svg class="menu-icon" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
    <path class="line line1" d="M4 7h16"></path>
    <path class="line line2" d="M4 12h16"></path>
    <path class="line line3" d="M4 17h16"></path>
  </svg>
</button>


<nav id="main-nav" class="nav" hidden>
  <a href="/pages/about.html" data-nav="about">O projektu</a>
  <a href="/pages/sellers.html" data-nav="sellers">Prodejci</a>
  <a href="/pages/sponsor.html" data-nav="sponsors">Partneři</a>
  <a href="/pages/gallery.html" data-nav="gallery">Galerie</a>
  <a href="/pages/contacts.html" data-nav="contact">Kontakt</a>
</nav>

</header>
